body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 18px;
}

label {
    margin-bottom: 0px;
    margin-left: -5px;
}

div.form-row {
    margin: 2.5px 0px;
}

.checkbox {
    vertical-align: middle;
    margin: 10px;
    margin-left: 12.5px;
    position: absolute;
    left: 0;
}

.container {
    padding: 15px 15px 0px;
    background-color: white;
    border: 1px solid rgb(237,240,246);
    margin: 0px;
    max-width: 800px;
    align-self: center;   
}

.displayed-task-priority {
    float: right;
    padding-top: 2.5px;
    width: 112px;
    text-align: right;
    margin-left: 15px;
    position: absolute;
    right: 85px;
}

.displayed-task-title {
    margin-top: -5px;
    padding-top: 8px;
    font-size: 18px;
    height: 30px;
    position: absolute;
    left: 30px;
    right: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
}

.displayed-task-title:hover {
    overflow-x: visible;
    text-overflow: initial;
    height: 55px;
}

.remove {
    color: red;
    background: gray solid;
    border: 1px red;
    margin: 5px 0px;
    font-size: small;
    font-weight: bold;
    border-radius: 10px;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    position: absolute;
    right: 0px;
}

.remove:hover {
    color: black;
    border-color: black;
}

#task-list {
    list-style-type: none;
    margin-bottom: 0px;
}

#task-list>li {
    padding: 5px;
    border: 1px solid rgb(237,240,246);
    margin-left: -55px;
    margin-right: -15px;
    padding-bottom: 0px;
    height: 40px;
    position: relative;
}

#task-list>li:hover {
    border: 1.05px solid cornflowerblue;
}

#task-priority {
    height:30px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    background-color:rgba(175, 175, 175, 0);
}